<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
	<h1>Ajouter un soliste</h1>
	
	<div>
		<form method="post" action=saveSoliste modelattribute="soliste">
		    <label for="inputNom" class="form-label">Nom</label>
		    <input type="texte" class="form-control" id="inputNom" name="nom">
		  </div>
		  <div class="mb-3">
		    <label for="inputPrenom" class="form-label">Prenom</label>
		    <input type="texte" class="form-control" id="inputPrenom" name="prenom">
		  </div>
		  <div class="mb-3">
		    <label for="inputNum" class="form-label">Numéro</label>
		    <input type="text" class="form-control" id="inputNum" name="num">
		  </div>
		  <div class="mb-3">
		    <label for="inputDate" class="form-label">Date de naissance</label>
		    <input type="date" class="form-control" id="inputDate" name="dateNaissance">
		  </div>
		  		  <div class="mb-3">
		    <label for="inputNationalite" class="form-label">Nationalité</label>
		    <input type="text" class="form-control" id="inputNationalite" name="nationalite">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		  <a type="submit" class="btn btn-danger" th:href="@{/soliste/getAllSoliste}">Reset</a>
		  
		</form>
	</div>
</body>
</html>