<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
	<h1>Liste des solistes</h1>
	<p th:text="'Le nombre total de soliste est : ' + ${total}"></p>
	<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de Naissance</th>
      <th scope="col">Num</th>
      <th scope="col">Nationalite</th>
      <th scope="col">Oeuvres</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="soliste : ${listeSol}">
      <th scope="row" th:text="${soliste.num}"></th>
      <td th:text="${soliste.nom}"></td>
      <td th:text="${soliste.prenom}"></td>
      <td th:text="${soliste.dateNaissance}"></td>
      <td th:text="${soliste.num}"></td>
      <td th:text="${soliste.nationalite}"></td>
            <td>
	<a type="button" class="btn btn-secondary" th:href="@{'/voirOeuvres/' + ${soliste.num}}" >Voir les oeuvres</a></td>
      <td>
	<a type="button" class="btn btn-secondary" th:href="@{'/soliste/updateSoliste/' + ${soliste.num}}" >Update Soliste</a>
	<a type="button" class="btn btn-danger" th:href="@{'/soliste/deleteSoliste/' + ${soliste.num}}" >Delete Soliste</a></td>
    </tr>
  </tbody>
</table>
	</div>
	<a type="button" class="btn btn-primary" th:href="@{/soliste/addSoliste}" >Add Soliste</a>
</body>
</html>